* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: sans-serif;
}

.title-bg {
  background-color: #ea5b3d;
  width: 100%;
  height: 20vh;
}

.bg {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #d5dbd9;
  width: 100%;
  height: 100%;
}

.chat {
  display: flex;
  position: absolute;
  height: 90vh;
  width: 90%;
  top: -110px;
  max-width: 1200px;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4);
}

.sidebar {
  position: relative;
  width: 60%;
  height: 100%;
  overflow: auto;
}

.profile-chat {
  position: sticky;
  width: 100%;
  top: 0px;
}

.your-name {
  display: flex;
  align-items: center;
  background: #ededed;
  padding: 10px 13px;
}

.avatar {
  width: 48px;
  height: 48px;
}

.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.name {
  margin: 10px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.4);
  background: #ededed;
}

.search {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  padding: 10px 13px;
}

.search-box {
  width: 100%;
  display: flex;
  background: #ffffff;
  padding: 12px 25px;
  border-radius: 30px;
}

.text-search {
  color: rgba(0, 0, 0, 0.6);
}

#search {
  margin-left: 20px;
  width: 100%;
  border: 1px solid transparent;
  background: transparent;
  cursor: text;
}

#search:focus {
  outline: none;
}

.profile-list {
  display: flex;
  align-items: center;
  padding: 10px 13px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.profile-list:hover {
  background: #ededed;
}

.picture {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.picture img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.profile-email {
  margin-top: 5px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

.detail {
  width: 100%;
  height: 100%;
  background: rgb(19, 228, 64);
}
